## Importing Functions

In [5]:
%%time
import warnings
warnings.filterwarnings('ignore')

import import_ipynb
import pandas as pd
import time
from bank_function import read_data, data_prep, log_model, model_diag

CPU times: total: 0 ns
Wall time: 999 µs
CPU times: total: 15.6 ms
Wall time: 8.01 ms

## Importing Data

In [6]:
%%time
file_path = 'data/bank_ds_cleaned.csv'
data = read_data(file_path)
data.head()

CPU times: total: 109 ms
Wall time: 111 ms

,age,job,marital,education,default,balance,housing,loan,contact,day,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,58,management,married,tertiary,0,2143,1,0,unknown,5,...,False,False,True,False,False,False,False,False,False,True
1,44,technician,single,secondary,0,29,1,0,unknown,5,...,False,False,True,False,False,False,False,False,False,True
2,33,entrepreneur,married,secondary,0,2,1,1,unknown,5,...,False,False,True,False,False,False,False,False,False,True
3,47,blue-collar,married,unknown,0,1506,1,0,unknown,5,...,False,False,True,False,False,False,False,False,False,True
4,33,unknown,single,unknown,0,1,0,0,unknown,5,...,False,False,True,False,False,False,False,False,False,True

## LogisticRegression Model

In [7]:
%%time
X_train, X_test, y_train, y_test = data_prep(data, 0.2)
pred = log_model(X_train,y_train,X_test)
pred

CPU times: total: 703 ms
Wall time: 434 ms

array([0, 0, 1, ..., 0, 0, 0], dtype=int64)

## Model Diagnostics

In [8]:
acc, prc,clf,conf = model_diag(y_test,pred)
print("Accuracy score =", (round(acc,2)*100),"%")
print("Precision score =", (round(prc,2)*100),"%")
print("classification Report")
print(clf)
print("Confusion Matrix")
print(conf)

Accuracy score = 89.0 %
Precision score = 69.0 %
classification Report
              precision    recall  f1-score   support

           0       0.90      0.99      0.94      7985
           1       0.69      0.18      0.29      1058

    accuracy                           0.89      9043
   macro avg       0.79      0.58      0.61      9043
weighted avg       0.88      0.89      0.87      9043

Confusion Matrix
[[7898   87]
 [ 867  191]]