## Importinf the functions

In [23]:
%%time
import import_ipynb
import pandas as pd
import time
from functions import read_data, data_prep, decision_tree, kn_classifier, rf_classifier, model_log_diag

CPU times: total: 0 ns
Wall time: 0 ns

## Importing the data

In [24]:
%%time
data = read_data(r'C:\Users\Pc\OneDrive\Pictures\Data science assignments\week 16\batch88assignments\iphone_purchase_records_cleaned.csv')
data.head()

CPU times: total: 15.6 ms
Wall time: 3.08 ms

   Gender  Age  Salary  Purchase Iphone  Female  Male
0    Male   19   19000                0       0     1
1    Male   35   20000                0       0     1
2  Female   26   43000                0       1     0
3  Female   27   57000                0       1     0
4    Male   19   76000                0       0     1

In [25]:
%%time
df = data.copy()
df.head()

CPU times: total: 0 ns
Wall time: 999 Âµs

   Gender  Age  Salary  Purchase Iphone  Female  Male
0    Male   19   19000                0       0     1
1    Male   35   20000                0       0     1
2  Female   26   43000                0       1     0
3  Female   27   57000                0       1     0
4    Male   19   76000                0       0     1

## Decision Tree model

In [26]:
X_train, X_test, y_train, y_test = data_prep(df, 0.2)
pred = decision_tree(X_train,y_train,X_test)
pred

array([1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0], dtype=int64)

In [29]:
acc, prc,clf,conf = model_log_diag(y_test,pred)
print("Accuracy score =", (round(acc,2)*100),"%")
print("Precision score =", (round(prc,2)*100),"%")
print("classification Report")
print(clf)
print("Confusion Matrix")
print(conf)

Accuracy score = 86.0 %
Precision score = 80.0 %
classification Report
              precision    recall  f1-score   support

           0       0.90      0.88      0.89        51
           1       0.80      0.83      0.81        29

    accuracy                           0.86        80
   macro avg       0.85      0.85      0.85        80
weighted avg       0.86      0.86      0.86        80

Confusion Matrix
[[45  6]
 [ 5 24]]

## KNeighborsClassifier Model

In [30]:
pred1 = kn_classifier(X_train,y_train,X_test)
pred1

array([1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0], dtype=int64)

In [31]:
acc, prc,clf,conf = model_log_diag(y_test,pred1)
print("Accuracy score =", (round(acc,2)*100),"%")
print("Precision score =",(round(prc,2)*100),"%")
print("classification Report")
print(clf)
print("Confusion Matrix")
print(conf)

Accuracy score = 74.0 %
Precision score = 67.0 %
classification Report
              precision    recall  f1-score   support

           0       0.77      0.84      0.80        51
           1       0.67      0.55      0.60        29

    accuracy                           0.74        80
   macro avg       0.72      0.70      0.70        80
weighted avg       0.73      0.74      0.73        80

Confusion Matrix
[[43  8]
 [13 16]]

## Random Forest Model

In [32]:
pred2 = rf_classifier(X_train,y_train,X_test)
pred2

array([1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0], dtype=int64)

In [33]:
acc, prc,clf,conf = model_log_diag(y_test,pred2)
print("Accuracy score =", (round(acc,2)*100),"%")
print("Precision score =",(round(prc,2)*100),"%")
print("classification Report")
print(clf)
print("Confusion Matrix")
print(conf)

Accuracy score = 88.0 %
Precision score = 79.0 %
classification Report
              precision    recall  f1-score   support

           0       0.94      0.86      0.90        51
           1       0.79      0.90      0.84        29

    accuracy                           0.88        80
   macro avg       0.86      0.88      0.87        80
weighted avg       0.88      0.88      0.88        80

Confusion Matrix
[[44  7]
 [ 3 26]]