## Importing Functions from fraud_check_function.ipynb

In [1]:
import import_ipynb
import pandas as pd
from fraud_check_function import read_data, data_prep, rf_classifier
from fraud_check_function import model_diag

import warnings
warnings.filterwarnings('ignore')

C:\Users\Sim\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:61: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

CPU times: total: 1 s
Wall time: 1.15 s

## Loading the data

In [2]:
data = read_data()
data.head()

,Undergrad,Taxable.Income,City.Population,Work.Experience,Urban,Measure,Marital.Status_Divorced,Marital.Status_Married,Marital.Status_Single
0,0,68833,50047,10,1,Good,False,False,True
1,1,33700,134075,18,1,Good,True,False,False
2,0,36925,160205,30,1,Good,False,True,False
3,1,50190,193264,15,1,Good,False,False,True
4,0,81002,27533,28,0,Good,False,True,False

## Randor Forest Model
First splitting the data and fitting it using data_prep function

In [3]:
X_train, X_test, y_train, y_test = data_prep(data, 0.2)

pred = rf_classifier(X_train,y_train,X_test)
pred

array(['Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good'],
      dtype=object)

## Model Diagnostic

In [4]:
p = "Good"
acc, prc,clf,conf = model_diag(y_test,pred,p)
print("Accuracy score =", round(acc * 100, 2), "%")
print("Precision score =", round(prc * 100, 2), "%")
print("classification Report")
print(clf)
print("Confusion Matrix")
print(conf)

Accuracy score = 81.67 %
Precision score = 81.67 %
classification Report
              precision    recall  f1-score   support

        Good       0.82      1.00      0.90        98
       Risky       0.00      0.00      0.00        22

    accuracy                           0.82       120
   macro avg       0.41      0.50      0.45       120
weighted avg       0.67      0.82      0.73       120

Confusion Matrix
[[98  0]
 [22  0]]